.results {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    color: hsl(0, 0%, 70%);
    font-size: 0.875rem;
    font-weight: 500;
}