main {
    background-color: hsl(225, 10%, 20%);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    color: white;
}